In [2]:
import pandas as pd 

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
claims_transactions = pd.read_csv('../../medical_analysis/data/claims_transactions.csv')
claims = pd.read_csv('../../medical_analysis/data/claims.csv')
encounters = pd.read_csv('../../medical_analysis/data/encounters.csv')
patients = pd.read_csv('../../medical_analysis/data/patients.csv')
payers = pd.read_csv('../../medical_analysis/data/payers.csv')

In [6]:
print("claims_transactions shape: ",  claims_transactions.shape)
print("claims shape: ",  claims.shape)
print("encounters shape: ",  encounters.shape)
print("patients shape: ",  patients.shape)
print("payers shape: ",  payers.shape)

claims_transactions shape:  (711238, 33)
claims shape:  (117889, 31)
encounters shape:  (61459, 15)
patients shape:  (1163, 25)
payers shape:  (10, 21)

In [5]:
print("Dados do claims_transactions")
display(claims_transactions.head(2), claims_transactions.tail(2))

print("\nDados do claims")
display(claims.head(2), claims.tail(2))

print("\nDados do encounters")
display(encounters.head(2), encounters.tail(2))

print("\nDados do patients")
display(patients.head(2), patients.tail(2))

print("\nDados do payers")
display(payers.head(2), payers.tail(2))

Dados do claims_transactions

,ID,CLAIMID,CHARGEID,PATIENTID,TYPE,AMOUNT,METHOD,FROMDATE,TODATE,PLACEOFSERVICE,PROCEDURECODE,MODIFIER1,MODIFIER2,DIAGNOSISREF1,DIAGNOSISREF2,DIAGNOSISREF3,DIAGNOSISREF4,UNITS,DEPARTMENTID,NOTES,UNITAMOUNT,TRANSFEROUTID,TRANSFERTYPE,PAYMENTS,ADJUSTMENTS,TRANSFERS,OUTSTANDING,APPOINTMENTID,LINENOTE,PATIENTINSURANCEID,FEESCHEDULEID,PROVIDERID,SUPERVISINGPROVIDERID
0,5c58de0b-3ba9-401d-2ce7-a4785ff35c15,e413105d-6f23-34ef-724a-b42adab9df22,0,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,CHARGE,129.16,NaN,2019-02-17T05:07:38Z,2019-02-17T05:22:38Z,f7ae497d-8dc6-3721-9402-43b621a4e7d2,410620009,NaN,NaN,1,NaN,NaN,NaN,1,10,Well child visit (procedure),129.16,NaN,1,NaN,NaN,NaN,NaN,748f8357-6cc7-551d-f31a-32fa2cf84126,NaN,NaN,1,82608ebb-037c-3cef-9d34-3736d69b29e8,82608ebb-037c-3cef-9d34-3736d69b29e8
1,1a647606-c7fa-a050-8802-6c06418ee151,e413105d-6f23-34ef-724a-b42adab9df22,1,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,PAYMENT,NaN,ECHECK,2019-02-17T05:07:38Z,2019-02-17T05:22:38Z,f7ae497d-8dc6-3721-9402-43b621a4e7d2,410620009,NaN,NaN,1,NaN,NaN,NaN,1,10,Well child visit (procedure),NaN,NaN,NaN,122.7,NaN,NaN,6.46,748f8357-6cc7-551d-f31a-32fa2cf84126,NaN,NaN,1,82608ebb-037c-3cef-9d34-3736d69b29e8,82608ebb-037c-3cef-9d34-3736d69b29e8

,ID,CLAIMID,CHARGEID,PATIENTID,TYPE,AMOUNT,METHOD,FROMDATE,TODATE,PLACEOFSERVICE,PROCEDURECODE,MODIFIER1,MODIFIER2,DIAGNOSISREF1,DIAGNOSISREF2,DIAGNOSISREF3,DIAGNOSISREF4,UNITS,DEPARTMENTID,NOTES,UNITAMOUNT,TRANSFEROUTID,TRANSFERTYPE,PAYMENTS,ADJUSTMENTS,TRANSFERS,OUTSTANDING,APPOINTMENTID,LINENOTE,PATIENTINSURANCEID,FEESCHEDULEID,PROVIDERID,SUPERVISINGPROVIDERID
711236,2cb9be3b-9dee-8f54-de78-0f256859bdd8,60dc54d1-9293-0145-7bbb-a428dbecd8cf,929956,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,TRANSFERIN,140.52,NaN,2021-09-03T05:11:58Z,1970-01-01T00:00:00Z,4861d01f-019c-3dac-a153-8334e50919f9,208,NaN,NaN,1,NaN,NaN,NaN,1,2,SARS-COV-2 (COVID-19) vaccine mRNA spike pro...,NaN,929955.0,p,NaN,NaN,140.52,140.52,0732798b-fb31-183b-22b6-efb205ee6502,NaN,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,1,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd
711237,6cc99715-c18d-ef90-6238-c33f72fdc5c6,60dc54d1-9293-0145-7bbb-a428dbecd8cf,929957,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,PAYMENT,NaN,CC,2021-09-03T05:11:58Z,1970-01-01T00:00:00Z,4861d01f-019c-3dac-a153-8334e50919f9,208,NaN,NaN,1,NaN,NaN,NaN,1,2,SARS-COV-2 (COVID-19) vaccine mRNA spike pro...,NaN,NaN,NaN,140.52,NaN,NaN,0.00,0732798b-fb31-183b-22b6-efb205ee6502,NaN,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,1,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd

Dados do claims

,Id,PATIENTID,PROVIDERID,PRIMARYPATIENTINSURANCEID,SECONDARYPATIENTINSURANCEID,DEPARTMENTID,PATIENTDEPARTMENTID,DIAGNOSIS1,DIAGNOSIS2,DIAGNOSIS3,DIAGNOSIS4,DIAGNOSIS5,DIAGNOSIS6,DIAGNOSIS7,DIAGNOSIS8,REFERRINGPROVIDERID,APPOINTMENTID,CURRENTILLNESSDATE,SERVICEDATE,SUPERVISINGPROVIDERID,STATUS1,STATUS2,STATUSP,OUTSTANDING1,OUTSTANDING2,OUTSTANDINGP,LASTBILLEDDATE1,LASTBILLEDDATE2,LASTBILLEDDATEP,HEALTHCARECLAIMTYPEID1,HEALTHCARECLAIMTYPEID2
0,e413105d-6f23-34ef-724a-b42adab9df22,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,0,10,10,410620009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,748f8357-6cc7-551d-f31a-32fa2cf84126,2019-02-17T05:07:38Z,2019-02-17T05:07:38Z,82608ebb-037c-3cef-9d34-3736d69b29e8,CLOSED,NaN,CLOSED,0.0,NaN,0.0,2019-02-17T05:22:38Z,NaN,2019-02-17T05:22:38Z,1,0
1,8e430d76-6628-c3ac-8950-2acabeb34f86,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,0,10,10,410620009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5a4735ae-423f-6563-28ab-b3d11b49b2d4,2019-03-24T05:07:38Z,2019-03-24T05:07:38Z,82608ebb-037c-3cef-9d34-3736d69b29e8,CLOSED,NaN,CLOSED,0.0,NaN,0.0,2019-03-24T05:22:38Z,NaN,2019-03-24T05:22:38Z,1,0

,Id,PATIENTID,PROVIDERID,PRIMARYPATIENTINSURANCEID,SECONDARYPATIENTINSURANCEID,DEPARTMENTID,PATIENTDEPARTMENTID,DIAGNOSIS1,DIAGNOSIS2,DIAGNOSIS3,DIAGNOSIS4,DIAGNOSIS5,DIAGNOSIS6,DIAGNOSIS7,DIAGNOSIS8,REFERRINGPROVIDERID,APPOINTMENTID,CURRENTILLNESSDATE,SERVICEDATE,SUPERVISINGPROVIDERID,STATUS1,STATUS2,STATUSP,OUTSTANDING1,OUTSTANDING2,OUTSTANDINGP,LASTBILLEDDATE1,LASTBILLEDDATE2,LASTBILLEDDATEP,HEALTHCARECLAIMTYPEID1,HEALTHCARECLAIMTYPEID2
117887,c034539c-b24c-a4d4-485b-f0a354b7c7aa,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,d47b3510-2895-3b70-9897-342d681c769d,0,2,2,33879002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b2a4d90b-a2f5-1c88-0fb6-ba49b1487d37,2021-08-13T05:11:58Z,2021-08-13T05:11:58Z,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,CLOSED,NaN,CLOSED,0.0,NaN,0.0,2021-08-13T05:26:58Z,NaN,2021-08-13T05:26:58Z,2,0
117888,60dc54d1-9293-0145-7bbb-a428dbecd8cf,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,d47b3510-2895-3b70-9897-342d681c769d,0,2,2,33879002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0732798b-fb31-183b-22b6-efb205ee6502,2021-09-03T05:11:58Z,2021-09-03T05:11:58Z,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,CLOSED,NaN,CLOSED,0.0,NaN,0.0,2021-09-03T05:26:58Z,NaN,2021-09-03T05:26:58Z,2,0

Dados do encounters

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,748f8357-6cc7-551d-f31a-32fa2cf84126,2019-02-17T05:07:38Z,2019-02-17T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,877.79,833.9,NaN,NaN
1,5a4735ae-423f-6563-28ab-b3d11b49b2d4,2019-03-24T05:07:38Z,2019-03-24T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,269.68,256.2,NaN,NaN

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
61457,b2a4d90b-a2f5-1c88-0fb6-ba49b1487d37,2021-08-13T05:11:58Z,2021-08-13T05:26:58Z,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,4861d01f-019c-3dac-a153-8334e50919f9,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,d47b3510-2895-3b70-9897-342d681c769d,outpatient,33879002,Administration of vaccine to produce active im...,129.16,269.68,0.0,NaN,NaN
61458,0732798b-fb31-183b-22b6-efb205ee6502,2021-09-03T05:11:58Z,2021-09-03T05:26:58Z,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,4861d01f-019c-3dac-a153-8334e50919f9,b0c5743a-4f9a-33b3-bab4-6a474fcf9ffd,d47b3510-2895-3b70-9897-342d681c769d,outpatient,33879002,Administration of vaccine to produce active im...,129.16,269.68,0.0,NaN,NaN

Dados do patients

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,2019-02-17,NaN,999-65-3251,NaN,NaN,NaN,Damon455,Langosh790,NaN,NaN,NaN,white,nonhispanic,M,Middleborough Massachusetts US,620 Lynch Tunnel Apt 0,Springfield,Massachusetts,Hampden County,1104.0,42.080389,-72.480431,9039.1645,7964.1255
1,c1f1fcaa-82fd-d5b7-3544-c8f9708b06a8,2005-07-04,NaN,999-49-3323,S99941126,NaN,NaN,Thi53,Wunsch504,NaN,NaN,NaN,white,nonhispanic,F,Danvers Massachusetts US,972 Tillman Branch Suite 48,Bellingham,Massachusetts,Norfolk County,NaN,42.035213,-71.482519,402723.4150,14064.1350

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
1161,d53c57a5-4480-2481-32ee-b2844a991c9d,1948-07-28,NaN,999-37-8036,S99939062,X79037907X,Mr.,Cody889,Hilll811,NaN,NaN,M,white,nonhispanic,M,Stoneham Massachusetts US,568 Ryan Stravenue,Mashpee,Massachusetts,Barnstable County,NaN,41.577704,-70.507460,263880.108,155042.052
1162,cb1b2c74-d1c5-997c-6f8b-20ca9f332eef,1958-11-07,NaN,999-17-1411,S99963285,X2822177X,Mr.,Haywood675,Schroeder447,NaN,NaN,M,asian,nonhispanic,M,Peabody Massachusetts US,707 Heathcote Wall Suite 15,Marblehead,Massachusetts,Essex County,NaN,42.466700,-70.903323,1548720.970,217.110

Dados do payers

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,COVERED_ENCOUNTERS,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b3221cfc-24fb-339e-823d-bc4136cbc4ed,Dual Eligible,7500 Security Blvd,Baltimore,MD,21244.0,1-877-267-2323,2786029.66,358233.14,1439000.0,1121,0,1141,0,551,0,280,0,20,0.537055,3060
1,7caa7254-5050-3b5e-9eae-bd5ea30e809c,Medicare,7500 Security Blvd,Baltimore,MD,21244.0,1-800-633-4227,36196594.58,2549080.77,7513750.0,10784,0,10455,0,6957,0,3057,0,195,0.766254,30888

,Id,NAME,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,REVENUE,COVERED_ENCOUNTERS,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
8,42c4fca7-f8a9-3cd1-982a-dd9751bf3e2a,Anthem,220 Virginia Ave,Indianapolis,IN,46204.0,1-800-331-1476,1252204.71,4.375218e+07,159838800.0,5963,7163,0,5800,0,13778,0,7155,939,0.818714,73632
9,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,NO_INSURANCE,NaN,NaN,NaN,NaN,NaN,0.00,3.212433e+08,0.0,0,35195,0,13776,0,53599,0,6629,60,1.931809,23664